<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.objectweb.proactive.ic2d.monitoring.perspectives.MonitoringPerspective"
            id="org.objectweb.proactive.ic2d.monitoring.MonitoringPerspective"
            name="Monitoring"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.objectweb.proactive.ic2d.monitoring.MonitoringCategory"
            name="Monitoring"/>
      <view
            category="org.objectweb.proactive.ic2d.monitoring.MonitoringCategory"
            class="org.objectweb.proactive.ic2d.monitoring.views.MonitoringView"
            id="org.objectweb.proactive.ic2d.monitoring.views.MonitoringView"
            name="Monitoring"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.objectweb.proactive.ic2d.monitoring.MonitoringActionSet"
            label="MonitoringActionSet"
            visible="false">
         <menu
               id="org.objectweb.proactive.ic2d.monitoring.MonitoringMenu"
               label="Monitoring"/>
         <action
               class="org.objectweb.proactive.ic2d.monitoring.actions.NewRMIHostAction"
               id="org.objectweb.proactive.ic2d.monitoring.actions.NewRMIHostAction"
               label="Monitor a new RMI Host"
               menubarPath="org.objectweb.proactive.ic2d.monitoring.MonitoringMenu/content"
               style="push"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.objectweb.proactive.ic2d.monitoring.MonitoringPerspective">
         <actionSet id="org.objectweb.proactive.ic2d.monitoring.MonitoringActionSet"/>
         <view
               id="org.objectweb.proactive.ic2d.monitoring.MonitoringView"
               relationship="stack"
               showTitle="true"/>
         <perspectiveShortcut id="org.objectweb.proactive.ic2d.monitoring.MonitoringPerspective"/>
         <viewShortcut id="org.objectweb.proactive.ic2d.monitoring.MonitoringView"/>
      </perspectiveExtension>
   </extension>

</plugin>
