<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.objectweb.proactive.ic2d.monitoring"
   name="IC2D Monitoring Plug-in"
   version="1.0.0"

   class="org.objectweb.proactive.ic2d.monitoring.MonitoringPlugin">

   <runtime>
      <library name="classes/">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.draw2d"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="lib"/>

   </requires>
   <extension
         id="org.objectweb.proactive.ic2d.monitoring.perspectives"
         name="Perspectives"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.objectweb.proactive.ic2d.monitoring.perspectives.MonitoringPerspective"
            id="org.objectweb.proactive.ic2d.monitoring.perspectives.MonitoringPerspective"
            name="Monitoring"/>
   </extension>
   <extension
         id="org.objectweb.proactive.ic2d.monitoring.views"
         name="Views"
         point="org.eclipse.ui.views">
      <view
            category="org.objectweb.proactive.ic2d.monitoring.category"
            class="org.objectweb.proactive.ic2d.monitoring.views.MonitoringView"
            id="org.objectweb.proactive.ic2d.monitoring.views.MonitoringView"
            name="Monitoring"/>
      <category
            id="org.objectweb.proactive.ic2d.monitoring.category"
            name="Monitoring category"/>
      <view
            allowMultiple="false"
            category="org.objectweb.proactive.ic2d.monitoring.category"
            class="org.objectweb.proactive.ic2d.monitoring.views.Legend"
            id="org.objectweb.proactive.ic2d.monitoring.views.Legend"
            name="Legend"/>
   </extension>
   <extension
         id="org.objectweb.proactive.ic2d.monitoring.perspectiveextensions"
         name="Monitoring perspective extensions"
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.objectweb.proactive.ic2d.monitoring.perspectives.MonitoringPerspective">
         <actionSet id="org.objectweb.proactive.ic2d.monitoring.actionSet"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.objectweb.proactive.ic2d.monitoring.actionSet"
            label="Monitoring action set">
         <menu
               id="org.objectweb.proactive.ic2d.monitoring.menu.MonitoringMenu"
               label="&amp;Monitoring"
               >
         </menu>
         <action
               class="org.objectweb.proactive.ic2d.monitoring.actions.NewRMIHostAction"
               id="org.objectweb.proactive.ic2d.monitoring.actions.newRMIhost"
               label="Monitor a new RMI host"
               menubarPath="org.objectweb.proactive.ic2d.monitoring.menu.MonitoringMenu/content"
               tooltip="Monitor a new RMI host"/>
      </actionSet>
   </extension>

</plugin>

