<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.objectweb.proactive.ic2d.monitoring"
   name="IC2D Monitoring Plug-in"
   version="1.0.0"

   >

   <runtime>
      <library name="lib/log4j.jar">
         <export name="*"/>
      </library>
      <library name="lib/ProActive.jar">
         <export name="*"/>
      </library>
      <library name="lib/xercesImpl.jar">
         <export name="*"/>
      </library>
      <library name="classes/">
         <export name="*"/>
      </library>
      <library name="lib/components/dtdparser.jar">
         <export name="*"/>
      </library>
      <library name="lib/components/fractal.jar">
         <export name="*"/>
      </library>
      <library name="lib/components/fractal-adl.jar">
         <export name="*"/>
      </library>
      <library name="lib/components/fractal-gui.jar">
         <export name="*"/>
      </library>
      <library name="lib/components/fractal-swing.jar">
         <export name="*"/>
      </library>
      <library name="lib/components/julia-asm.jar">
         <export name="*"/>
      </library>
      <library name="lib/components/julia-mixins.jar">
         <export name="*"/>
      </library>
      <library name="lib/components/julia-runtime.jar">
         <export name="*"/>
      </library>
      <library name="lib/components/ow_deployment_scheduling.jar">
         <export name="*"/>
      </library>
      <library name="lib/components/SVGGraphics.jar">
         <export name="*"/>
      </library>
      <library name="lib/bouncycastle.jar">
         <export name="*"/>
      </library>
      <library name="lib/javassist.jar">
         <export name="*"/>
      </library>
      <library name="lib/jsch.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.draw2d"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>
   <extension
         id="org.objectweb.proactive.ic2d.monitoring.perspectives"
         name="Perspectives"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.objectweb.proactive.ic2d.monitoring.perspectives.MonitoringPerspective"
            id="org.objectweb.proactive.ic2d.monitoring.perspectives.MonitoringPerspective"
            name="Monitoring"/>
   </extension>
   <extension
         id="org.objectweb.proactive.ic2d.monitoring.views"
         name="Views"
         point="org.eclipse.ui.views">
      <view
            category="org.objectweb.proactive.ic2d.monitoring.category"
            class="org.objectweb.proactive.ic2d.monitoring.views.MonitoringView"
            id="org.objectweb.proactive.ic2d.monitoring.views.MonitoringView"
            name="Monitoring"/>
      <category
            id="org.objectweb.proactive.ic2d.monitoring.category"
            name="Monitoring category"/>
   </extension>
   <extension
         id="org.objectweb.proactive.ic2d.monitoring.perspectiveextensions"
         name="Monitoring perspective extensions"
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.objectweb.proactive.ic2d.monitoring.perspectives.MonitoringPerspective">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.objectweb.proactive.ic2d.monitoring.actionSet"
            label="Monitoring action set"
            visible="true">
         <menu
               id="org.objectweb.proactive.ic2d.monitoring.menu.MonitoringMenu"
               label="&amp;Monitoring"
               >
         </menu>
         <action
               class="org.objectweb.proactive.ic2d.monitoring.actions.NewRMIHostAction"
               id="org.objectweb.proactive.ic2d.monitoring.actions.newRMIhost"
               label="Monitor a new RMI host"
               menubarPath="org.objectweb.proactive.ic2d.monitoring.menu.MonitoringMenu/content"
               tooltip="Monitor a new RMI host"/>
      </actionSet>
   </extension>

</plugin>
