<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.objectweb.proactive.ic2d.componentmonitoring.ComponentMonitoringCategory"
            name="Component Monitoring"/>
      <view
            category="org.objectweb.proactive.ic2d.componentmonitoring.ComponentMonitoringCategory"
            class="org.objectweb.proactive.ic2d.componentmonitoring.view.ComponentTreeView"
            id="org.objectweb.proactive.ic2d.componentmonitoring.view.ComponentTreeView"
            name="Component Monitoring"/>
   </extension>
   <extension
         point="org.objectweb.proactive.ic2d.JMXmonitoring.actions_extension">
            <action_class class="org.objectweb.proactive.ic2d.componentmonitoring.extensions.ShowComponentViewAction"/>
   
   </extension>

</plugin>
