<?xml version="1.0" encoding="UTF-8"?>
<componentConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:noNamespaceSchemaLocation="../../../org/objectweb/proactive/core/component/config/component-config.xsd" name="interception">
    <controllers>
        <controller>
            <interface>org.objectweb.proactive.core.component.controller.PABindingController</interface>
            <implementation>org.objectweb.proactive.core.component.controller.PABindingControllerImpl</implementation>
        </controller>
        <controller>
            <interface>org.objectweb.proactive.core.component.controller.PAContentController</interface>
            <implementation>org.objectweb.proactive.core.component.controller.PAContentControllerImpl</implementation>
        </controller>
        <controller>
            <interface>org.objectweb.proactive.core.component.controller.PAGCMLifeCycleController</interface>
            <implementation>org.objectweb.proactive.core.component.controller.PAGCMLifeCycleControllerImpl</implementation>
        </controller>
        <controller>
            <interface>org.objectweb.proactive.core.component.controller.PASuperController</interface>
            <implementation>org.objectweb.proactive.core.component.controller.PASuperControllerImpl</implementation>
        </controller>
        <controller>
            <interface>org.objectweb.fractal.api.control.NameController</interface>
            <implementation>org.objectweb.proactive.core.component.controller.PANameController</implementation>
        </controller>
        <!-- specific controllers & interceptors -->
        <controller>
            <interface>functionalTests.component.controller.DummyController</interface>
            <implementation>functionalTests.component.controller.DummyControllerImpl</implementation>
        </controller>
    </controllers>
    
</componentConfiguration>
    

