<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="ProActiveFilter.filterContribution"
            targetID="org.eclipse.debug.ui.DebugView">
         <action
               class="org.eclipse.proactive.debug.proactivefilter.ui.actions.FilterActionDelegate"
               icon="icons/filter.png"
               id="org.eclipse.proactive.debug.proactivefilter.ui.actions.FilterAction"
               label="FIlterAction"
               menubarPath="org.eclipse.ui.run/stepReturnGroup"
               style="radio"
               toolbarPath="org.eclipse.debug.ui.launchActionSet"
               tooltip="Proactive FIlter Action">
         </action>
      </viewContribution>
   </extension>

</plugin>
