<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="application"
         name="%applicationName"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.objectweb.proactive.ic2d.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.objectweb.proactive.ic2d.application"
            name="product"/>
   </extension>
   <extension
         id="org.objectweb.proactive.ic2d.perspectives"
         name="Default"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.objectweb.proactive.ic2d.Perspective"
            fixed="false"
            id="org.objectweb.proactive.ic2d.Perspective"
            name="Default"/>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ic2d.product"
            name="product"/>
   </extension>
   
</plugin>
