<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.objectweb.proactive.ic2d.JMXmonitoring.jmxlistener_extension">
         <action_class
		class="org.objectweb.proactive.ic2d.debug.dsi.handler.listeners.JMXListener" />
   </extension>
</plugin>
